body {
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
    
}

header {
    background-color: rgb(75, 52, 11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    margin: 0;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

    

    a {
        color: #e5e7eb;
        font-size: 18px;
        text-decoration: none;
        margin: 10px;
        font-weight: 500;
        transition: 0.3s ease;
    }
    a:hover,
    a.active{
        color: #be7b0e;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        margin-left: auto;
        margin-right: 20px;
        padding: 0, 20px;
    }
}

.hero {
    background-image: url("../images/books.jpg");
    height: 80vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1,h2,h3, h4, p, button {
    color: white;
    margin: 10px;

    button {
        border: 0;
        text-decoration: none;
        color: white;
    }
}


}

.feature {

}

h2 {
    font-size:36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;

}

.section_1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;


    h2 {
        font-size:36px;
        font-weight: bold;
        color: #1F2937;
        text-align: center;

    }
    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card img {
        width: 200px;
        object-fit: cover;
        border-radius: 100px;
        height: 200px;
        border: 5px solid #be7b0e;
        
    }
    .card {
        margin: 10px;
        text-align: center;
        // background-color: rgb(246, 231, 207);
        padding: 20px;
        border-radius: 20px;
        p{
            width: 200px;
        }
        
    }
    
}

.section_store {
    display: flex;
    justify-content: center;
    align-items: flex-start;


    h2 {
        font-size:36px;
        font-weight: bold;
        color: #1F2937;
        text-align: center;

    }
    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card img {
        width: 200px;
        object-fit: cover;
        border-radius: 20px;
        height: 200px;
        border: 5px solid #be7b0e;
        
    }
    .card {
        margin: 10px;
        text-align: center;
        background-color: rgb(246, 231, 207);
        padding: 20px;
        border-radius: 20px;
        p{
            width: 200px;
        }
        
    }
    
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;

    }
}